---
import Title from "../Title.astro";
import { Badge, Card, CardContent } from "../cards";
import type { ExperienciaLaboral } from "../../data/info.type";
import {obtenerMesAbreviado} from '../../utils/getMothString'
import { getLangFromUrl, useTranslations } from "../../utils/languaje.utils";
const { locale } = Astro.params;

type LanguageType = 'es' | 'en'

export interface Props {
  experienciaLaboral: ExperienciaLaboral;
}

const { experienciaLaboral } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section>
  <Title title={t('work-title')} />
  <div class="space-y-6">
    {
      experienciaLaboral.map(
        ({
          cargo,
          empresa,
          fechaDesde,
          fechaHasta,
          descripcionPuesto,
          habilidades,
        }) => {
          return (
            <Card class="p-6">
              <CardContent className="p-6">
                <div class="flex flex-col md:flex-row md:items-start md:justify-between mb-3">
                  <div>
                    <h3 class="text-lg font-semibold text-gray-900">{cargo}</h3>
                    <p class="text-blue-600 font-medium">{empresa}</p>
                  </div>
                  <span class="text-sm text-gray-500 mt-1 md:mt-0">
                    {obtenerMesAbreviado(fechaDesde,locale as LanguageType)} - {obtenerMesAbreviado(fechaHasta, locale as LanguageType)}
                  </span>
                </div>
                <p class="text-gray-700 mb-3">{descripcionPuesto}</p>
                <div class="flex flex-wrap gap-2 font-semibold">
                  {habilidades.map((h) => (
                    <Badge variant="outline">{h}</Badge>
                  ))}
                </div>
              </CardContent>
            </Card>
          );
        }
      )
    }
  </div>
</section>
